<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <h1>Edu Assist</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      @for (item of classes; track item) {
        <li nz-menu-item nzMatchRouter><a [routerLink]="'user/'+item">{{ item }}</a></li>
      }
      <li nz-menu-item nzMatchRouter>
        <a routerLink="time">倒计时</a>
      </li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
