:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ng-progress-color: #1890ff;
}

.app-layout {
  height: 100vh;
}


nz-content {
  height: 100%;
  background: #fff;
}

nz-footer {
  padding: 0;
}

.inner-content {
  height: 100% ;
  overflow-y: auto;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
}

.menu-item {
  display: flex;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
  gap: 6px;
  align-content: center;
}

.menu-item:hover {
  background-color: #dedede;
}

.menu-title {
  font-size: 24px;
  color: #333;
}

.menu-item > nz-icon {
  font-size: 30px;
  color: #333;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-list > div {
  padding: 0 40px;
  cursor: pointer;
}

.class-list > div:hover{
  background-color: #dedede;
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo {
  margin-right: 50px;
  float: left;
}
.logo > h1{
  color: #fff;
}

[nz-menu] {
  line-height: 64px;
}
